*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: black;
}

#navtool {
    background-color: grey;
    height: 80px;
    padding: 15px;
}

#navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100%;
}

#navbar h1 {
    color: black;
    font-size: 24px;
    margin: 0;
}

#navbar ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin: 0; 
    padding: 0; 
}

#navbar a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 8px 12px;
    border-radius: 4px; 
}

#navbar a:hover {
	background-color: black;
    color: white;
}
.name{
	text-align: center !important;
	font-size: 64px !important;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: white;
	margin: 10px;
	line-height: 1.5;
}

.main_div{
	color: #757575 !important;
	font-family: "Montserrat", sans-serif;
	text-align: justify !important;
}

.head{
	color: #F1F1F1;
	margin: 10px;
	font-size: 30px;
	font-weight: 400;
	margin: 10px 0;
	padding: 16px;
}

.divider{
	border: none;
	display: none;
	background-color: whitesmoke;
	height: 1px;
}

.line{
	display: block;
    color: gray;
    unicode-bidi: isolate;
    width: 200px;
    margin-bottom: 20px;
}

#me{
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 60px;
	height: 500px;
	border: 3px solid white;
	border-radius: 8px;
}

.sec{
	margin-bottom: 10px;
	padding:16px;
	line-height: 1.5;
}

#contact{
	text-align: center;
}

#contatc_form{
	align-items: center;
}

textarea{
	height: 150px;
}

#image{
	height: 100px;
}

.label{
	font-size: 20px;
}

.input{
	width: 800px;
	border-radius: 10px;
	padding: 10px;

}
button{
	padding: 5px;
	margin-top: 10px;
	border-radius: 15px;
	background-color: white;
	width: 50px;
}

button:hover{
	cursor: pointer;
}

.project_icon {
	text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  
}

.portfolio{
	display: flex;
	width: 500px;
	height: 300px;
	border: 3px solid white;
	border-radius: 8px;
	margin: 0 auto;
}